@model Run_Map_Planner.Models.Home.Track

@{
    ViewData["Title"] = "PacePlanner";
}

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Plan your pace</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div id="map"></div>
    </div>
    <div class="col-md-4">
        <div class="row mb-3">
            <div id="gpxplaceholder">Placeholder</div>
        </div>
        <div class="row overflow-scroll" style="height: 600px">
            @foreach (var pt in Model)
            {
                <p>@pt.Latitude, @pt.Longitude</p>
            }
        </div>
    </div>
</div>

<script>
    
</script>
